#xxx {
  display: block;
  background:green;
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
.actions {
  position: fixed;
  left: 0;
  bottom: 0;
}
.actions > #brush {
  display: none;
}
.actions.x > #brush {
  display: inline-block;
}
.actions.x > #eraser {
  display: none;
}
